{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Регистрация</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control", type="email") }}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control", type="password") }}
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password_again.label }}
                    {{ form.password_again(class="form-control", type="password") }}
                    {% for error in form.password_again.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class="form-control") }}
                    {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                {{message}}
            </form>
        </div>
    </div>
</div>
{% endblock %}
